## Homogeneous List

1. List of Districts:

In [1]:
districts = ["Kathmandu", "Lalitpur", "Bhaktapur", "Pokhara", "Chitwan"]
districts

['Kathmandu', 'Lalitpur', 'Bhaktapur', 'Pokhara', 'Chitwan']

2. List of Numbers:

In [2]:
numbers = [10, 20, 30, 40, 50]
numbers

[10, 20, 30, 40, 50]

3. List of Vegetables:

In [3]:
vegetables = ["Carrot", "Potato", "Tomato", "Spinach", "Cauliflower"]
vegetables

['Carrot', 'Potato', 'Tomato', 'Spinach', 'Cauliflower']

4. List of Drinks:

In [4]:
drinks = ["Water", "Juice", "Tea", "Coffee", "Soda"]
drinks

['Water', 'Juice', 'Tea', 'Coffee', 'Soda']

## Heterogeneous List

1. Mixed Data Types:

In [5]:
mixed_list = [42, "Hello", 3.14, True, None]
mixed_list

[42, 'Hello', 3.14, True, None]


2. Various Object Types:

In [6]:
object_list = ["Apple", 5.5, [1, 2, 3], {"key": "value"}, (7, 8)]
object_list

['Apple', 5.5, [1, 2, 3], {'key': 'value'}, (7, 8)]


3. Complex Heterogeneous List:

In [7]:
complex_list = [
("John", 25), {"city": "New York", 
"population": 8000000}, [10, 20, 30], "Goodbye"
]
complex_list

[('John', 25),
 {'city': 'New York', 'population': 8000000},
 [10, 20, 30],
 'Goodbye']

## Accessing List Item

Positive Indexing

In [8]:
my_list = ['apple', 'banana', 'cherry']
print(my_list[1])

banana

Negative Indexing

In [9]:
my_list = ['apple', 'banana', 'cherry']
print(my_list[-1])

cherry

Accessing a Range of Items (Slicing)

In [10]:
my_list = ['apple', 'banana', 'cherry', 'date']
print(my_list[1:3])

['banana', 'cherry']

Accessing with Step (Advanced Slicing)

In [11]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(my_list[0:5:2])

['apple', 'cherry', 'elderberry']

Accessing Nested Lists

In [12]:
nested_list = [[1, 2, 3], ['a', 'b', 'c']]
print(nested_list[1][2])

c

## Modification of items in list

Modifying/Changing Items in List

In [13]:
my_list = [1, 2, 3]
my_list[1] = 'banana'
print(my_list)

[1, 'banana', 3]

Adding Items in List

In [15]:
my_list = [1, 2, 3]
my_list.append(4) 
my_list.insert(1, 'apple')
my_list.extend([5, 6]) 
my_list

[1, 'apple', 2, 3, 4, 5, 6]

Removing Item From List

In [16]:
my_list = [1, 2, 3, 2]
my_list.remove(2)
my_list.pop(1)
del my_list[0]  
my_list

[2]

### Organizing a List

#### Sorting a List

sort() Method

In [17]:
numbers = [3, 1, 4, 2]
numbers.sort()
print(numbers)

[1, 2, 3, 4]

sorted() Function

In [18]:
numbers = [3, 1, 4, 2]
sorted_numbers = sorted(numbers)
print(sorted_numbers)
print(numbers)

[1, 2, 3, 4]
[3, 1, 4, 2]

#### Reversing a List

reverse() Method

In [20]:
fruits = ['apple', 'banana', 'cherry', 546, 5541.4]
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

Reversing with Slicing

In [21]:
fruits = ['apple', 'banana', 'cherry']
reversed_fruits = fruits[::-1]
print(reversed_fruits)

['cherry', 'banana', 'apple']

## List Operations

Concatenation (+): Combining two lists.

Repetition (*): Repeating the elements of a list.

Membership (in): Checking if an element is in the list.


Length (len()): Finding the number of elements in a list.